body {
    background-color: #f5f8ff;
}

.container {
    max-width: 768px;
    margin: auto;
    padding: 0 20px;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card {
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 1px 5px 6px -1px #b7b7b7;
    padding: 40px 50px;
    margin: 20px 0;
    position: relative;
}